{% extends 'base.twig' %}

{% block styles %}
<link rel="stylesheet" href="/css/profile.css" />
{% endblock %}

{% block main %}

    <!-- Banner -->
    <section id="iq-home" class="iq-banner-08 overview-block-pt grey-bg" style="background-color:#6c757d">
        <div class="container">
            <div class="banner-text">
                <div class="row">
                    <!-- <div class="col-lg-6">
                        <h1 class="text-uppercase iq-font-blue iq-tw-3">We are building <b class="iq-tw-7">software</b> to help</h1>
                        <p class="iq-font-black iq-pt-15 iq-mb-40">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley, </p>
                        <a href="javascript:void(0)" class="button-blue-shadow iq-mt-20 iq-mr-20">Learn More</a>
                        <a href="javascript:void(0)" class="button-line-shadow iq-mt-20">Download</a>
                    </div> -->
                    <h1  id = "clientName" class="text-uppercase iq-font-blue iq-tw-3">Bookings</h1>
                    {# <p class="iq-font-black iq-pt-15 iq-mb-40">
                        our work.</p> #}

                </div>
            </div>
        </div>
        <div class="animations">
            <div class="ani ani-6">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1024 1024">
                    <path id="followPath"
                          d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z">
                    </path>
                    <path id="dashedPath"
                          d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z">
                    </path>
                    <path id="airplain" d="M8.04 84L92 48 8.04 12 8 40l60 8-60 8z">
                        <animateMotion xlink:href="#airplain" dur="6s" fill="freeze" repeatCount="indefinite"
                                       rotate="auto">
                            <mpath xlink:href="#followPath"></mpath>
                        </animateMotion>
                    </path>
                </svg>
            </div>
        </div>
        </div>
    </section>
    <!-- Banner End -->
    <!-- Main Content -->
    <div class="main-content">
        <section id="great-features" class="life-work-1 overview-block-pt software"
            style="margin-bottom:30px;padding: 20px">
            <div class="container-form">
                <div class="sidebar">
                    <a class="active" href="#home">Bookings</a>
            
                    <a id="logout" onclick="logout()">Logout</a>
                </div>

                <div id="bodydiv" class="content">
                    {#<div>#}
                        {#<h3>You have no bookings yet ! </h3>#}
                        {#<img id = "bookingImg" src = "/images/bg/booking.png"/>#}
                    {#</div>#}
                {# need to loop start #}
                <div id ="orderts">
                
                {#<div/>#}
                    {#<div class="flip-box">#}
                        {#<div class="flip-box-inner" id="flipbox">#}
                            {#<div class="flip-box-front" id="front" style="padding-left: 30px;padding-right: 10px">#}
                              {##}
                            {#</div>#}
                            {#<div class="flip-box-back" id="back">#}
                               {##}
                            {#</div>#}
                        {#</div>#}
                    </div>


                     {#<div class="flip-box">#}
                        {#<div class="flip-box-inner">#}
                            {#<div class="flip-box-front" style="padding-left: 30px;padding-right: 10px">#}
                               {#<p style="margin-left:10px" ><span>id : </span>PAY120DCh</p>#}
                                {#<p style="margin-left:30px;margin-right: 10px"><span>airport : </span>Name</p>#}
                            {#</div>#}
                            {#<div class="flip-box-back">#}
                                {#<div class="col-lg-3">#}
                                    {#<p id = "startDate" >2019/01/01<span id = "startTime">:10:32</span></p>#}
                                {#</div>#}
                                {#<div class="col-lg-3">#}
                                    {#<p id = "endDate">2019/01/01<span id = "endTime">:10:32</span></p>#}
                                {#</div>#}
                                {#<div class="col-lg-3">#}
                                    {#<p id = "cost">60$</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}

                    
        {# need to loop end #}
  
                </div>
            </div>

        </section>

    </div>
    <!-- Main  Contain End-->


{% endblock %}

{% block scripts %}

    <script>

        function logout() {
            var url = getHost()+ "logout" ;
            window.location.replace(url);
        }
// for git
        $.post("/profile/data")
            .done(function( data ) {
                console.log(data);
                if(data.length===0){
                    var html ='<div> <h3>You have no bookings yet ! </h3><img id = "bookingImg" onclick="home()" src = "/images/bg/booking.png"/></div>';
                    $('#bodydiv').append(html);
                }else {
                    data.forEach(function (data, index) {
                        console.log(data.payment_id);
                        var front = '<div class="flip-box"> <div class="flip-box-inner" id="flipbox"> <div class="flip-box-front" id="front" style="padding-left: 30px;padding-right: 10px"> <p style="margin-left:10px" ><span>id : O00' + data.id + '</span></p>' +
                            ' <p style="margin-left:10px" ><span>Airport : ' + data.airport + '</span></p>' +
                            '<p style="margin-left:10px" ><span>Price : ' + data.price + '</span></p></div> <div class="flip-box-back" id="back"> <div class="col-lg-3"> <p id = "startDate" >' + data.start_date + '<span id = "startTime">' + data.start_time + '</span></p> </div>' +
                            '<div class="col-lg-3"> <p id = "startDate" >' + data.end_date + '<span id = "startTime">' + data.end_time + '</span></p> </div>  </div> </div>  </div>';

                        $('#orderts').append(front);

                    });
                }

            });

    </script>

{% endblock %}